@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Proxima Nova, sans-serif;
	}
}

@layer components{
	.amerigo{
		@apply font-['AmerigoBT']
	}

	.custom-transition{
		transition: height 0.2s linear;
	}
}

#hero--image{
	@apply rotate-[60deg] bg-green-shade w-[30rem] h-96 opacity-[0.05] absolute -top-10 -left-10 sm:top-60 sm:-left-36 sm:w-[100rem]
}

header{
	@apply z-1 fixed flex justify-between items-center px-[2.55rem] py-[1.8rem] inset-x-0 custom-transition sm:px-[8%] md:px-[10%]
}

ion-icon{
	transition: all 0.3s linear;
}

#logo{
	@apply w-[9.4rem]
}

/*#menu-box{
	@apply p-2 z-4
}*/

#menu-box{
	@apply z-4 fixed right-12 top-4 px-6 py-7 cursor-pointer sm:top-5 sm:right-14 md:right-[5.3rem]
}

#menu-box>*{
	@apply absolute inset-0
}

#open-menu, #close-menu{
	@apply text-5xl
}


nav{
	@apply fixed z-1 inset-0 w-screen bg-white;
	transition: all 0.3s ease-out;
}

#nav-bar{
	@apply p-8 ml-[100vw] sm:px-[3.1rem] md:px-10
}

#nav-bar--logo{
	@apply w-10 mb-7
}

#nav-bar>section{
	@apply sm:mt-11
}

.nav-bar--options{
	@apply flex items-center justify-between border-b border-slate-300 py-4 cursor-pointer mr-4 sm:mr-6 md:mr-8;
}

.nav-bar--options>p{
	@apply text-grey-shade hover:text-black
}

.nav-bar--buttons:first-of-type{
	@apply my-4 sm:my-5
}

.nav-bar--buttons{
	@apply w-full border-green-shade border rounded uppercase text-sm font-bold py-3 hover:bg-[#00a37e] hover:border-[#00a37e] hover:text-white
}

#nav-bar-products, #nav-bar--bonsai-workflow, #nav-bar--templates{
	@apply ml-0 p-10 top-[4.5rem] bg-white pt-[3.1rem]
}

.products--div{
	@apply border-b border-slate-300 py-10
}

.nav-bar-products--header{
	@apply text-xl text-black amerigo mb-2
}

.nav-bar-products--text{
	@apply text-sm
}

#nav-bar--bonsai-workflow{
	@apply px-7 py-7
}

.nbbw-divs, .nav-bar-templates-examples{
	@apply flex items-start font-semibold my-11 cursor-pointer
}

.nbbw-divs>ion-icon, .nav-bar-templates-examples>ion-icon:first-of-type{
	@apply text-xl mr-2
}

.nbbw-divs>p{
	@apply text-sm
}

#nav-bar--templates{
	@apply pl-11 py-7 pr-4
}

.nav-bar-templates-examples{
	@apply flex font-normal my-9 relative /*hover:after:content-[] after:absolute after:right-0*/
}

.template-hover-icon{
	@apply absolute right-0 text-2xl hidden
}

.nav-bar-templates-examples:hover > .template-hover-icon{
	@apply block
}


#main{
	@apply px-5 pt-32 sm:px-[5%] md:px-[5%] md:pt-28
}

#category{
	@apply amerigo text-4xl pt-[0.8rem] text-center sm:pt-1 sm:pb-[0.8rem] text-[38px]  
}

.plans-section>div:first-of-type{
	@apply md:flex md:flex-row sm:max-w-[580px] md:justify-between md:items-center md:mt-[2.1rem] md:mb-[3.25rem]
}

/* The switch - the box around the slider */
.switch {
	@apply relative inline-block w-[52px] h-7
}

/* Hide default HTML checkbox */
.switch input {
	@apply opacity-0 w-0 h-0
}

/* The slider */
.slider {
	@apply absolute cursor-pointer inset-0 bg-green-shade transition-all duration-100 before:absolute before:content-[''] before:h-6 before:w-6 before:left-0.5 before:bottom-0.5 before:bg-white before:transition-all before:duration-100
}

input:checked + .slider {
  @apply bg-green-shade
}

input:checked + .slider:before {
	@apply translate-x-6
}

/* Rounded sliders */
.slider.round {
  @apply rounded-[28px]
}

.slider.round:before {
	@apply rounded-[50%]
}

#toggle-div{
	@apply flex items-center justify-center mt-16 mb-11 relative sm:justify-end sm:mb-10 sm:mt-[3.75rem]
}

@media (min-width: 768px){
	#toggle-div{
		@apply md:my-0 md:mt-2
	}
}

#toggle-div>p:first-of-type{
	@apply ml-0
}

#toggle-div>p:last-of-type{
	@apply mr-0
}

#toggle-div>p{
	@apply uppercase font-semibold tracking-widest opacity-70 mx-[1.6rem] text-[17px] tracking-widest
}

#toggle-div--yearly{
	@apply text-base !important
}

.selected{
	@apply opacity-100 !important
}


.plan{
	@apply mt-7 border border-slate-300 rounded relative overflow-hidden px-6 py-10 bg-white sm:px-[6.5%] sm:pb-14
}

.popular{
	@apply absolute -right-14 top-14 bg-green-shade text-white rotate-45 uppercase text-sm w-60 font-semibold tracking-wide h-7 flex justify-center items-center overflow-hidden sm:h-10 sm:top-12 sm:text-lg
}

.plan--name{
	@apply text-[1.625rem] font-semibold mt-2
}

.plan--price{
	@apply py-5 flex items-center relative md:pb-6
}

.plan-price--amount{
	@apply text-7xl font-semibold ml-3 mr-4 md:text-[3.875rem]
}

sup{
	@apply text-3xl relative -top-2
}

sub{
	@apply text-2xl relative -bottom-4 tracking-wider
}

.plan-features{
	@apply my-2 border-t-2 border-green-shade py-6 
}

ul>li{
	@apply my-4 before:content-[url('./images/check.svg')] before:mr-3 md:my-[1.05rem]
}

.start-plan-btn{
	@apply w-full text-center bg-green-shade text-white py-5 rounded font-bold text-base uppercase
}

.plan-features--new-feature{
	@apply after:content-['New'] after:text-white after:bg-yellow-shade after:rounded after:text-sm after:p-[3px] after:px-[5px] after:ml-2
}


#addons-section{
	@apply mt-24 sm:mt-32
}

#addons-section--div{
	@apply flex flex-col
}

.change-addons-section{
	@apply flex-col-reverse !important
}

#addons-section>p{
	@apply my-[3.75rem] text-[1.55rem] font-bold text-center amerigo leading-snug px-3 sm:mb-20 md:text-[2rem]
}

.addons-div{
	@apply bg-white rounded px-10 py-5 mb-3 flex flex-col md:flex-row-reverse md:justify-between md:py-7 md:items-center
}

#addons-div--free{
	@apply md:pb-6;
}

.different{
	@apply px-7 pr-0 sm:px-10
}

.price{
	@apply text-3xl font-semibold sm:pt-2 md:text-[2.75rem]
}

#free-addon{
	@apply text-4xl sm:pt-3
}

.addons .plan--duration{
	@apply text-sm md:mt-2
}

.addons-features{
	@apply mt-4 mb-2 md:mr-10
}

.addons-features>p:first-child{
	@apply text-2xl font-semibold
}

.addons-features>p:last-of-type{
	@apply font-light
}


#third-section{
	@apply text-center bg-[#f2faff] py-12 pt-10 my-[3.75rem] rounded px-7 md:mt-[5.3rem]
}

@media (min-width: 926px){
	#third-section{
		@apply flex justify-center pt-16
	}
}

#third-section>div>p{
	@apply amerigo text-[1.6rem] sm:text-[2.5rem] sm:leading-[3.3rem] md:text-[2.75rem] md:leading-[3.75rem]
}

#third-section--start-btn{
	@apply w-52 mt-4 sm:my-5 sm:mt-10
}


#faq-section{
	@apply pl-5 mb-16 sm:px-[4.5%] md:px-[7%] md:max-w-[720px] md:mx-auto
}

.faqs--questions-div{
	@apply flex items-center justify-between my-2 cursor-pointer
}

.faqs--questions-div:hover .faqs--question{
	@apply text-green-shade
}

.faqs--question{
	@apply text-2xl font-bold hover:text-green-shade
}

.faqs--expand-btn{
	@apply text-slate-300 text-3xl
}

.faqs--answers{
	@apply h-0 overflow-hidden custom-transition text-sm leading-6 pr-[1.125rem] md:text-base
}


footer{
	@apply px-1 mb-20 md:flex md:flex-row md:justify-between md:flex
}

.footer--section{
	@apply mb-10 md:w-fit md:flex-1
}

/*.footer--section:nth-of-type(2){
	@apply ml-[7.5rem] flex-1
}*/

.footer--section:nth-of-type(3){
	@apply flex-none
}

.footer-sections--header{
	@apply uppercase font-semibold text-lg my-6 md:my-10;
}

.footer-links-div{
	@apply flex flex-col
}

.footer-section--links{
	@apply text-grey-shade active:text-black font-thin mb-2 w-fit hover:text-black
}

.footer-links-div+div{
	@apply flex flex-col my-6
}

#current-page{
	@apply  text-green-shade
}

#footer-templates{
	@apply flex flex-col
}

.footer-sub-templates{
	@apply cursor-pointer w-fit
}

.footer-sub-templates--name{
	@apply flex flex-row items-center mb-2;
}

.fsth{
	@apply mb-0
}

.footer-sub-templates--expand-btn{
	@apply ml-1 text-xl
}

.footer-sub-templates--dropdown{
	@apply flex flex-col pl-2 overflow-hidden custom-transition
}


@media (min-width: 992px) and (max-width: 1100px){
	.plans-section{
		max-width: 701px;
		padding-left: 6px;
		margin: 0 auto;
	}

	#the-plans{
		@apply grid grid-cols-2 gap-x-7
	}

	.plan{
		@apply px-10
	}
}
